
@media (max-width: 768px) and (min-width: 320px) {
    [aria-controls="navbarDropdown"] {
        display: block;
    }

    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        display: grid;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: var(--size-50);
        background-image: linear-gradient(to right, transparent, var(--button-text));
        width: 100%;
        text-align: right;
        box-shadow: 0 0 var(--size-20) rgba(52, 49, 75, 0.1);
        padding-bottom: var(--size-20);
    }

    [aria-expanded="true"] ~ ul li a {
        margin-right: var(--size-20);
        color: var(--font-color-black);
    }

    .navbar .container {
        display: inline-block;
        width: 100%;
        }

    .navbar .button { 
        font-size: var(--size-15);
        padding: 0 0.625rem;
        border-radius: 0.9375rem;
    }

    .nav-link a {
        font-size: var(--size-15);
        line-height: var(--size-20);}

    .container.empowering-icons {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "empowering"
        "icons";
        margin-left: auto;
        margin-right: auto;
    }

    .empowering { 
        grid-area: empowering;
        margin-top: var(--size-10); 
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--size-40);
    }

    .empowering h2 { font-size: var(--size-35); }
    .empowering p { font-size: var(--size-18); }
    
    .empowering i { 
        padding-right: var(--size-3); 
        font-size: var(--size-16);
    }

    .empowering .button {
        padding: .25em 1rem;
        font-size: var(--size-16); 
    }
    
    .learn { 
        margin-left: var(--size-20); 
        font-size: var(--size-18);
    }

    .icons { 
        display: inline-block;
        grid-area: icons;
        width: 100%; 
        height: var(--size-500);
        margin-left: auto;
        margin-right: auto;
    }

    .weave {
        position: absolute;
        right: 17%;
        bottom: 32%;
    }

    .container.key-benefit { 
        margin-top: var(--size-400);
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--size-20);
        padding-right: var(--size-20);
    } 

    .key-benefit h2 { padding-top: var(--size-35); }
    .key-title p { margin-bottom: 0; }

    .cards {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"; 
    }

    .perspective-background {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ptext"
        "ptext"
        "banner-1";
        padding-top: 0;
        margin-top: var(--size-100);
    }

    .perspective-text { 
        margin-top: var(--size-20);
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .perspective-text h2 {
        font-size: var(--size-25);
        margin-bottom: var(--size-20);
    }

    .perspective .button { 
        font-size: var(--size-14);
        margin-bottom: 0; 
        margin-top: 0;
    }

    .banner-one {
        position: unset;
        width: 100%;
    }

    .container.why-wrapper { margin-top: var(--size-100); }
    .why-front h2 { font-size: var(--size-35); }
    .why-front p { 
        padding: 0 var(--size-40);
        font-size: var(--size-18);
    }

    .round-wrapper {
        grid-template-columns: .5fr 2.5fr;
        position: inherit;
    }

    .round-line {
        display: block;
        margin-left: 0;
        margin-right: 0;
        justify-self: left;
        padding: 0 var(--size-20);
    }

    .round { justify-content: left; }

    .line {
        transform: rotate(90deg);
        width: var(--size-10);
        margin: var(--size-10) auto;
        padding: var(--size-10) auto;
    }

    .round-text { 
        display: block;
        text-align: left;
        margin-top: 4.375rem; 
        margin-left: -0.5rem;
    }

    .round-text h3 {margin-bottom: 2.3125rem; }
    .video-box { object-position: 10% 5%; }

    .video-box > img {
        max-width: 37.5rem;
        height: var(--size-500);
    }
       
    .container.hubspot { 
        grid-template-columns: 1fr;
        margin-bottom: var(--size-50);
    }   
    .image-hubspot img { 
        padding-left: 0;
        padding-bottom: var(--size-5);
    }

    .left-dots-1, .left-dots-2 { visibility: hidden; }

    .bottom-dots-1 { 
        position: unset;
        text-align: left;
    }

    .bottom-dots-2 { 
        position: unset;
        text-align: left;
    }

    .text-hubspot { 
        margin-left: var(--size-15); 
        text-align: center;
    }

    .text-hubspot img { 
        width: var(--size-125); 
        margin-left: 0;
        margin-top: var(--size-20);
    }

    .text-hubspot p { font-size: var(--size-18); }
    .text-hubspot .name { font-size: var(--size-16); }
    .container.trusted { margin-top: var(--size-80); }
    .trust { font-size: var(--size-16); }

    .company-logos img {
        width: var(--size-80);
        height: var(--size-20);
    }

    .container.pricing { margin-bottom: var(--size-60); }
    .pricing h2 { font-size: var(--size-35); }
    .pricing p { font-size: var(--size-16); }

    .pricing-cards {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "pricing-card-1"
        "pricing-card-1"
        "pricing-card-2"
        "pricing-card-3"
        "pricing-card-4"
        "pricing-card-5";
    }

    .pricing-card-1 .price { font-size: var(--size-35); }

    .pricing-card-2, 
    .pricing-card-3, 
    .pricing-card-4, 
    .pricing-card-5 { 
        padding: 0 var(--size-40); 
    }

    .hire-us-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "hire-us-text"
        "hire-forms";
        justify-content: center;
        padding: 0;
    }

    .hire-us-text { 
        text-align: center;
        padding: 0; 
        margin-left: var(--size-40);
        margin-right: var(--size-40);
    }

    .hire-us-text h2 { font-size: var(--size-40);} 
    
    .hire-us-text p { 
        font-size: var(--size-18); 
        margin-bottom: var(--size-20);
    }
    
    .hire-us-text .line-1 { 
        margin-left: auto; 
        margin-right: auto;
    }

    .love p {
        font-size: var(--size-18);
        text-align: center;
        padding: 0 var(--size-40);
    }

    .love .name { font-size: var(--size-16); }

    .headshot ul { 
        display: block;
        align-items: center; 
    }

    .headshot ul li a img {
        margin-left: var(--size-0);
        margin-right: var(--size-20);
    }

    .headshot ul li a.active img {
        transform: scale(1.25); }

    .hire-forms { 
        margin: var(--size-20) var(--size-20) var(--size-50) var(--size-20);
        padding: var(--size-10);
    }

    .hire-forms h3 { 
        font-size: var(--size-25);
        text-align: center;
    }

    .hire-forms form { 
        row-gap: var(--size-20);
        padding-left: var(--size-20);
        padding-right: var(--size-20);
    }

    .hire-forms .name, .email, .url, .budget, .country { 
        font-size: var(--size-14);
        width: 100%;
    }

    .hire-forms .box-name, .email-website, .budget-country {
        display: grid; 
        row-gap: var(--size-20);
        width: 100%;
    }
    
    .budget, .country { width: 100%; }

    ::placeholder {
        color: var(--font-color-grey);
    }
    
    input:focus, textarea:focus, select:focus {outline:none;}

    .box-budget, .box-country { 
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }
    
    .box-budget { margin: var(--size-20) auto 0 auto; }
    .box-country { margin: var(--size-20) auto; }
    .message-box { margin-left: 0; }
    .checkbox-text { font-size: var(--size-14); }
    .get-started .button { margin-bottom: var(--size-40); }

    .box-footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "front"
        "company"
        "features"
        "documentation"
        "resources";
    }

    .footer-2, .footer-3, .footer-4, .footer-5, .footer-2 .career .button-pink { font-size: var(--size-16); }
    .footer-1, .footer-2, .footer-4, .footer-5 { margin-left: var(--size-20); }


    .bottom-footer { display: block; }

    .bottom-left { 
        text-align: center;
        margin-bottom: var(--size-20);
     }

    .bottom-right { gap: var(--size-10); }
    .line-2 { width: 82%; }
    .copyrights p { padding: 0 var(--size-50); }


    #scrollUp { 
        right: var(--size-20);
        height: var(--size-30);
        width: var(--size-30);
        font-size: var(--size-14);
        line-height: var(--size-30);
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .topbar .container { 
        padding-left: var(--size-40);
        padding-right: var(--size-40);
    }

    .navbar { 
        padding-left: var(--size-20);
        padding-right: var(--size-20);
    }

    .container.empowering-icons { 
        margin-left: auto;
        margin-right: auto;
    }

    .empowering { padding-left: var(--size-30); }
    .empowering h2 { font-size: var(--size-40); }
    .empowering p { font-size: var(--size-18); }
    .empowering .button { font-size: var(--size-18); }
    .icons { padding-right: var(--size-30); }

    .container.key-benefit { margin-top: var(--size-100); }
    .key-title h2 { font-size: var(--size-40); }

    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "card-1 card-2"
        "card-3 card-4"; 
        gap: var(--size-30);
        padding: 0 var(--size-40);
    }

    .card-4 p { margin-bottom: 40px; }

    .perspective-background {
        margin-left: var(--size-40);
        margin-right: var(--size-40);
        margin-top: var(--size-100);
    }

    .perspective-text { 
        margin-top: var(--size-20);
        margin-left:var(--size-30);
    }
    .perspective-text h2 { font-size: var(--size-20); }

    .why-front h2 { font-size: var(--size-40); }

    .why-front p { 
        padding-left: var(--size-80);
        padding-right: var(--size-80);
    }

    .round-line { 
        gap: var(--size-10);
        margin-left: auto;
        margin-right: auto;
    }

    .line { 
        width: var(--size-100); 
        padding-right: var(--size-10); 
    }

    .round-text { gap: var(--size-35); }

    .video-box > img {
        max-width: 46.875rem;
        height: 37.5rem;
    }
  
    .container.hubspot { padding-left: var(--size-60); }
    .text-hubspot p { font-size: var(--size-18); }
    .text-hubspot .name { font-size: 16px;}

    .pricing-cards {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "pricing-card-1 pricing-card-2"
            "pricing-card-1 pricing-card-3"
            "pricing-card-4 pricing-card-5";
            padding-left: var(--size-40); 
            padding-right: var(--size-40);
    }

    .hire-us-wrapper { 
            padding: var(--size-30); 
            grid-template-columns: 1fr;
            grid-template-areas: 
            "hire-us-text"
            "hire-forms";
            justify-content: center;
            padding: 0;
    }

    .hire-us-text { 
        padding: var(--size-40); 
        text-align: center;
        margin-left: var(--size-40);
        margin-right: var(--size-40);
    }

    .hire-us-text .line-1 { 
        margin-left: auto; 
        margin-right: auto;
    }

    .headshot ul { 
        display: block;
        align-items: center; 
    }

    .headshot ul li a img {
        margin-left: var(--size-0);
        margin-right: var(--size-30);
    }

    .hire-forms { margin: 0 var(--size-20) var(--size-40) var(--size-20); }
 
    .box-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "front company"
        "features documentation"
        "resources resources";
        padding-left: var(--size-40);
        padding-right: var(--size-40);
        grid-gap: var(--size-30);
        padding-bottom: var(--size-40);
    }

    .footer-5 { padding-left: var(--size-20);}
    .line-2 { width: 90%; }

    .bottom-footer {
        padding-left: var(--size-60); 
        padding-right: var(--size-60);
    }

    .copyrights p { padding: 0 var(--size-80);}

}